Bean_Temperature.txt
[{"id":"218b302a.aef83","type":"bean temp","z":"49799980.357358","name":"","bean":"4b77947.7f83d6c","x":370,"y":80,"wires":[["18ad0d04.b05b23","a9e3b87d.00a618","3ffa238e.8071fc"]]},{"id":"18ad0d04.b05b23","type":"function","z":"49799980.357358","name":"","func":"msg.payload = \n\t{\n\tvalue:msg.payload\n\t}\n\t\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["53b097d3.d89eb8","a5f25498.64e5d8"]]},{"id":"a9e3b87d.00a618","type":"function","z":"49799980.357358","name":"","func":"msg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":279,"wires":[["db408341.bd03"]]},{"id":"3ffa238e.8071fc","type":"function","z":"49799980.357358","name":"","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nmsg.payload = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["1848f205.67ea4e"]]},{"id":"35238c45.dc8b64","type":"inject","z":"49799980.357358","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"x":230,"y":180,"wires":[["218b302a.aef83"]]},{"id":"53b097d3.d89eb8","type":"freeboard","z":"49799980.357358","name":"Bean Temperature","x":870,"y":40,"wires":[]},{"id":"a5f25498.64e5d8","type":"debug","z":"49799980.357358","name":"","active":true,"console":"false","complete":"false","x":910,"y":160,"wires":[]},{"id":"db408341.bd03","type":"ui_gauge","z":"49799980.357358","tab":"6dbabc7b.8ee4f4","name":"Friend Room Temp","group":"","order":1,"format":"{{value}}","min":"-10","max":"60","x":930,"y":240,"wires":[]},{"id":"1848f205.67ea4e","type":"ui_text","z":"49799980.357358","tab":"6dbabc7b.8ee4f4","name":"Refresh Date","group":"","order":1,"format":"{{msg.payload}}","x":870,"y":340,"wires":[]},{"id":"4b77947.7f83d6c","type":"bean","z":"","name":"Bean","uuid":"","connectiontype":"timeout","connectiontimeout":"60"},{"id":"6dbabc7b.8ee4f4","type":"ui_tab","z":"","name":"Friend Room Temp","icon":"dashboard","order":"1"}]